extends layout


block content 
   h1 Patron: Return Book
        p
        strong Book Title: 
         if (!loan)
          | Null
         else
          | #{loan.Book.title}
        p
        strong Loaned By:
         if (loan == undefined)
          | Null
         else 
          | #{loan.Patron.first_name} #{loan.Patron.last_name}
        p
        strong Loaned On: 
         if (loan == undefined)
          | Null
         else
          | #{moment(loan.loaned_on).format('YYYY-MM-DD')}
        p
        strong Return By: 
         if (loan == undefined)
          | Not Returned 
         else
          | #{moment(loan.return_by).format('YYYY-MM-DD')}
        form(action='/book/return/'+ loan.id, method='post')
            p
                label(for='returned_on') Returned on:
                input#returned_on(type='text', value=moment(today).format('YYYY-MM-DD') name='returned_on')
            p
                input(type='submit', value='Return Book')
            if(err)
              p #{err}
